<div class="wrapper">
  <%= render '/shared/page_header' %>
  <hr />
  <div class="container">

    <h1>New user</h1>

    <%= render 'form' %>

  </div>
  <%= render '/shared/page_footer' %>

</div>
