<footer id="footer" class="footer">
  <div class="container">
    <ul class="subnav">

      <li><%= link_to "Blog", "http://blog.eligibleapi.com/" %></li>
    </ul>
    <span class="copy">&copy; Copyright Eligible 2013.</span>
  </div>
  <!-- / container -->
</footer>
<!-- / footer -->