// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.text-center {
	.btn.large {
		margin-top: 15px;
	}
}

.simple_form {
  display: block;
	label {
		float: left;
		width: 160px;

	}

	.error {
		margin-left: 15px;
	}

	[type="text"]{
        width: 300px;


    }

    select {
		width: 100px;
		
	}

	textarea, [type="text"] {
		line-height: 16px;
		padding: 5px;
		border: 1px solid #d5d5d5;
		border-top-color: #ababab;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #fff;
		-moz-box-shadow: inset 0 1px 0 #e0e0e0;
		-webkit-box-shadow: inset 0 1px 0 #e0e0e0;
		margin: 8px;
		font-size: 16px;
		color: #414141;
	}

	textarea {
		width: 98%;
	}
}